---
const today = new Date();
---

<footer class='container mt-8'>
	<div class='flex justify-center py-8 text-sm gap-4 prose dark:prose-invert'>
		<a href='/impressum'>Impressum</a>
		<a href='/datenschutz'>Datenschutz</a>
		<a href='#'>RSS</a>
	</div>

	<div class='py-4 border-t dark:border-t-zinc-700'>
		<div class='justify-between text-sm md:flex text-zinc-500 dark:text-zinc-300 prose dark:prose-invert'>
			<div>Copyright © {today.getFullYear()} Lukas Yair Lehmann.</div>
			<!-- Please leave the credit if you dont make a significant changes to the template. It's just a nofollow link :)  -->
			<div>Template created by <a href='https://devaradise.com' target='_blank' rel='nofollow noopener'>Syakir @ Devaradise</a></div>
		</div>
	</div>
</footer>
