---
import Author from '../Author.astro';
---

<div class='py-4 border-b about-the-author'>
	<h3 class='mb-4 text-sm font-extrabold uppercase'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Lukas is a Product Designer specializing in inclusive design, accessibility, and neurodiversity. He creates user-centric experiences
			that empower diverse audiences and ensure everyone feels valued.
		</p>
		<p class='mb-3'>
			With a strong focus on UX/UI design, Lukas is eager to join a forward-thinking team that prioritizes inclusivity. Let's connect to
			create products that resonate with all users!.
		</p>
	</div>
</div>
