---
import { clientData } from '@src/data/clientData.tsx';

interface Props {
  cid: string;
}

interface ClientInfo {
  clientName: string;
  clientDescription: string;
  clientImage: string;
}


const { cid } = Astro.props as Props;
const clientInfo = clientData[cid] || {};

const { clientName, clientDescription, clientImage } = clientInfo;
---

<div>
  <h2>About the Client</h2>
  <p><strong>Name:</strong> {clientName}</p>
  <p><strong>Description:</strong> {clientDescription}</p>
  {clientImage && <img src={clientImage} alt={clientName} />}
</div>
