---
export interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800">
  <img class="w-full" src={image} alt={title} />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-gray-900 dark:text-white">{title}</div>
    <p class="text-gray-700 dark:text-gray-400 text-base">
      {description}
    </p>
  </div>
</div>
