---

---

<div class="p-5 motivations">
  <div class="mb-4 motivation-item">
    <div class="flex items-baseline">
      <span class="mr-2 list-number">1.</span>
      <h3 class="font-semibold">Understanding User Needs</h3>
    </div>
    <p>I bring a deep understanding of diverse user needs, honed through my experience in disability support. This allows me to design with empathy and inclusivity at the forefront.</p>
  </div>
  <div class="mb-4 motivation-item">
    <div class="flex items-baseline">
      <span class="mr-2 list-number">2.</span>
      <h3 class="font-semibold">Versatile Skill Set</h3>
    </div>
    <p>With a background spanning multiple industries, I excel in project management, problem-solving, and clear communication-skills that ensure seamless collaboration and impactful results.</p>
  </div>
  <div class="mb-4 motivation-item">
    <div class="flex items-baseline">
      <span class="mr-2 list-number">3.</span>
      <h3 class="font-semibold">Proficiency in Design Tools</h3>
    </div>
    <p>I'm highly skilled in industry-standard tools like Figma, Adobe XD, and Sketch, enabling me to craft intuitive and visually compelling designs.</p>
  </div>
  <div class="mb-4 motivation-item">
    <div class="flex items-baseline">
      <span class="mr-2 list-number">4.</span>
      <h3 class="font-semibold">A Neurodivergent Perspective</h3>
    </div>
    <p>As a neurodivergent designer, I offer a unique lens that fosters innovative and creative solutions. My perspective helps me challenge conventions and design for diverse audiences.</p>
  </div>
</div>

<style>
	.motivations {
		margin-bottom: 1rem;
	}
	.motivation-item h3 {
		margin-bottom: 0.5rem;
	}
	.motivation-item p {
		margin-bottom: 1rem;
	}
	.list-number {
		font-weight: bold;
	}
</style>
