---

import { techStack } from '@src/data/techStack.tsx';
import React from 'react';
---

<div class="tech-stack p-5">
  <div class='flex flex-wrap gap-4'>
    {techStack.map((item) => (
      <div class='inline-flex items-center bg-gray-200 dark:bg-gray-700 rounded-full px-4 py-2'>
        {item.icon && React.isValidElement(item.icon) && <item.icon.type class="w-6 h-6 mr-2" />}
        <span class='text-sm'>{item.text}</span>
      </div>
    ))}
  </div>
</div>

<style>
  .tech-stack {
    margin-bottom: 1rem;
  }
</style>
