---
import BaseLayout from '../layouts/BaseLayout.astro';

const address = import.meta.env.PUBLIC_ADDRESS || 'Address not set';
const phoneNumber = import.meta.env.PUBLIC_PHONE_NUMBER || 'Phone number not set';
const email = import.meta.env.PUBLIC_EMAIL || 'Email not set';
---

<BaseLayout title='Impressum' description='Lorem ipsum dolor sit amet'>
	<div class='container'>
		<main class='text-lg prose dark:prose-invert'>
			<article>
				<div class='w-full mb-10 md:flex md:items-center gap-16'>
					<div class='text-pretty leading-9'>
						<h1 class='mb-4 text-4xl font-bold'>Impressum</h1>
						<p>
							Lukas Yair Lehmann<br />
							{address}
						</p>
						<h2>Contact</h2>
						<p>
							Phone: {phoneNumber}<br />
							E-Mail: {email}
						</p>
						<p>Source: <a href='https://www.e-recht24.de'>https://www.e-recht24.de</a></p>
					</div>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
