---
import Languages from './widgets/Languages.astro';
import Certifications from './widgets/Certifications.astro';
import TechStack from './widgets/TechStack.astro';
import SkillStack from './widgets/SkillStack.astro';
import CVTimeline from './widgets/cvTimeline.astro';
import Motivations from './widgets/Motivations.astro';
import { experience } from '@src/data/experience.tsx';
import { education } from '@src/data/education.tsx';
import CallToAction from './widgets/CallToAction.astro';
---

<div class="about-page flex flex-wrap gap-4 mt-6">
  <!-- Experience Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Experience</h2>
    <CVTimeline timeline={experience} />
  </section>

  <!-- Education Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Education</h2>
    <CVTimeline timeline={education} />
  </section>

  <!-- Languages Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Languages</h2>
    <Languages />
  </section>

  <!-- Certifications Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Certifications</h2>
    <Certifications />
  </section>

  <!-- Tech Stack Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Tech Stack</h2>
    <TechStack />
  </section>

  <!-- Skill Stack Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Skill Stack</h2>
    <SkillStack />
  </section>

  <!-- Motivations Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm">
    <h2 class="mb-4">Why I'm the Designer You Need</h2>
    <Motivations />
  </section>
</div>
<div class="about-page">
   <!-- Call to Action Section -->
  <section class="container flex-1 min-w-[calc(50%-1rem)] p-4 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm bg-blue-100 dark:bg-blue-900 text-center">
    <h2 class="text-2xl font-bold mb-4">Let's Work Together!</h2>
    <CallToAction />
  </section>
</div>

<style>
  .about-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .container {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem; /* Beispielwert, passe nach Bedarf an */
  }
</style>
