---
import { Image } from 'astro:assets';
import type { Project } from '../pages/projects/projects';
import { kFormatter } from '../utils';
import { GitHubSvg } from '@src/components/svgs.tsx';

const { projects } = Astro.props;
---

<div class='grid grid-cols-12 gap-5'>
	{
		projects.map((project: Project) => (
			<div class='col-span-12 sm:col-span-6 lg:col-span-4 border dark:border-zinc-700 rounded-xl shadow-sm p-5'>
				<div class='flex justify-between items-center'>
					<div class='flex gap-2'>
						{(project.tags || [])?.map((tag: string) => (
							<span
								class='border border-zinc-300 dark:border-zinc-700 rounded-2xl
                    text-sm text-zinc-700 dark:text-zinc-300 no-underline px-2 py-0.5
                    transition-all duration-700
                  hover:border-zinc-700 dark:hover:border-zinc-300'
							>
								{tag}
							</span>
							))}
						<GitHubSvg />
					</div>
				</div>
			</div>
		))
	}
</div>
